<details>
<summary>{{matchedFilesCount}} matched files</summary>

{{#matchedFiles}}
{{#hasPattern}}- `{{{filename}}}` — pattern: `{{{pattern}}}`{{/hasPattern}}
{{^hasPattern}}- `{{{filename}}}` — no specific pattern match{{/hasPattern}}
{{/matchedFiles}}

</details>