{{#isInherited}}
| {{{subgroup}}} | :white_check_mark: Inherited review | Review delegated to repository owners |
{{/isInherited}}
{{#isApproved}}
| {{{subgroup}}} | :white_check_mark: Approved | {{{approvers}}} |
{{/isApproved}}
{{#isPending}}
| {{{subgroup}}} | :hourglass: Pending | Awaiting: {{{pendingReviewers}}} |
{{/isPending}}